


<div class="container">
  <h1>welcome to atomx select</h1>
  <p>this library aim to replace ui select library for angularJs</p>
  <p>
    this library is written in the latest angular and support limited but core functionality
  </p>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">example with static  data</div>
        <div class="panel-body">
          <atomx-select propertyName="name" [popupOption]="true" [dataService]="names"></atomx-select>
          {{selectedNames | json}}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">example with dynamic data (fetched from api end point)</div>
        <div class="panel-body">
          <atomx-select
            propertyName="name" [popupOption]="true" [loading]="loading" [fetch]="true" [dataService]="usersData"
            (search)="onSearch($event)"
          ></atomx-select>
          {{selected | json}}
        </div>
      </div>
    </div>
  </div>
</div>
